body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}
.titulo {
    margin: 0;
    font-size: 2em;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: relative;
}

.timeline-event {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 60%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.timeline-event:hover {
    transform: scale(1.05);
}
.imagen-evento {
    width: 150px; /* Tamaño más grande de la imagen */
    height: 150px; /* Tamaño más grande de la imagen */
    margin-right: 20px;
    border-radius: 10px; /* Forma rectangular con bordes suaves */
    object-fit: cover;
    flex-shrink: 0; /* Impide que la imagen se reduzca */
}
.timeline-content {
    flex: 1;
}
.detalle-evento {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    border-radius: 10px;
    text-align: center;
}
.imagen-detalle {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

#cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
